@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

$body-color: #FFF;
$body-bg: #003cfd;
$font-family-sans-serif:
    'Open Sans',
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;

$font-weight-normal: 300;